body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
}

.header {
    background-image: url("../sources/images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header-menu {
    position: relative;
    z-index: 1;
    padding-top: 25px;
    height: 60px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    width: 185px;
}

.header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}

.nav-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
    margin: 0;
}

.nav-list-item a{
    color: white;
    font-size: 13px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list-item a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-title {
    position: relative;
    z-index: 1;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
}

.header-title h1{
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.header .container {
    padding-bottom: 125px;
}

.posts {
    margin-top: 60px;
    margin-bottom: 65px;
    display: flex;
    gap: 120px;
}

.posts-list {
    max-width: 780px;
}

.sidebar {
    max-width: 270px;
}

.posts-list-item {
    display: flex;
    gap: 30px;
}

.posts-list-item__img {
    width: 380px;
    height: 290px;
}

.posts-list-item__content {
    max-width: 365px;
}

.posts-list-item__title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    margin: 0;
}

.posts-list-item__tags {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.posts-list-item__tag a {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: bold;
    text-decoration: none;
}

.posts-list-item__tag a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.posts-list-item__option {
    margin-top: 30px;
    margin-bottom: 45px;
}

.posts-list-item__date, .post-new__date {
    font-size: 12px;
    color: #888888;
}

.posts-list-item__author {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    margin-left: 15px;
}

.posts-list-item__text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.posts-list-item__text p {
    margin: 0;
}

.posts-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.posts-new {
    margin-bottom: 60px;
}

.sidebar-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    position: relative;
}

.sidebar-title::before {
    content: "";
    opacity: 0.400;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    position: absolute;
    top: 25px;
    left: 102px;
}

.post-new__content {
    width: 180px;
    box-sizing: border-box;
}

.post-new__title {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.post-new__title:hover {
    color: #b59f5b;
}

.posts-new__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 270px;
}

.post-new {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.post-new__img {
    width: 75px;
    height: 75px;
    box-sizing: border-box;
}

.post-new__img img, .posts-list-item__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sidebar-search {
    margin-bottom: 60px;
    position: relative;
}

.sidebar-search__field, .sidebar-mailing__field, .sidebar-mailing__btn {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 0;
}

.sidebar-search__field, .sidebar-mailing__field {
    background-color: #f4f7f6;
    padding: 15px;
    font-size: 13px;
}

.sidebar-search__field {
    position: relative;
}

.sidebar-search__field:focus, .sidebar-mailing__field:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
}

.sidebar-search__btn {
    width: 50px;
    height: 50px;
    background-color: #b59f5b;
    box-sizing: border-box;
    border: 0;
    background-image: url("../sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    cursor: pointer;
    transition: 0.3s;

    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-search__btn:hover, .sidebar-mailing__btn:hover {
    background-color: #323232;
}

.sidebar-mailing__btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: #b59f5b;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.sidebar-mailing {
    margin-bottom: 60px;
}

.sidebar-tags {
    margin-bottom: 60px;
}

.sidebar-tags__tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
}

.sidebar-tags__tags a {
    /* margin-right: 10px; */
    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;
    box-sizing: border-box;
    line-height: 0;
    transition: 0.3s;
    text-decoration: none;
}

.sidebar-tags__tags a:hover {
    border: 3px solid #b59f5b;
    cursor: pointer;
}

.sidebar-themes__tag {
    position: relative;
    font-size: 14px;
    line-height: 47px;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
}

.sidebar-themes__tag a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.sidebar-themes__tag a:hover {
    color: #b59f5b;
}

.sidebar-themes__number {
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.footer-social {
    background-color: #f4f7f6;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}

.footer-social__twitter::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 25px;
    background-image: url("../sources/images/social/004-twitter.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
}

.footer-social__pinterest::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 25px;
    background-image: url("../sources/images/social/001-pinterest.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
}

.footer-social__facebook::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 25px;
    background-image: url("../sources/images/social/002-facebook-logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
}

.footer-social__instagram::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 25px;
    background-image: url("../sources/images/social/005-instagram.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
}

.footer-social__tumblr::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 25px;
    background-image: url("../sources/images/social/003-tumblr.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
}

.footer-social__icons {
    display: inline-flex;
    gap: 25px;
    flex-wrap: nowrap;
}

.copyright {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}